<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:fridges, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:fridges, :new) %></li>
</ul>
<div class=tabs-content>
  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th class="header list-menu">
          <div class=dropdown>
            <a href="#" class="list-menu-toggle dropdown-toggle" data-toggle='dropdown'>
              <%= tag_icon :magic %> <span class=caret></span>
            </a>
            <ul class="list-menu dropdown-menu" role=menu>
              <li class=list-menu-wrapper>
                <%= link_to tag_icon('check-square-o', pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link' %>
              </li>
              <li class=list-menu-wrapper.list-menu-wrapper-disabled>
                <%= link_to tag_icon('square-o', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled' %>
              </li>
              <li class="list-menu-divider divider"></li>
              <li class=list-menu-wrapper.list-menu-wrapper-disabled>
                <%=link_to tag_icon('trash-o', pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled' %>
                <div class='list-menu-popover-delete-selected popover right'>
                  <div class=arrow></div>
                  <h3 class=popover-title><%= pat(:delete_selected_title) %></h3>
                  <div class=popover-content>
                    <% form_tag url(:fridges, :destroy_many), :method => :delete do %>
                      <%=hidden_field_tag :fridge_ids, :'data-delete-many-ids' => true %>
                      <%=submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small' %>
                      <div class='btn btn-default btn-small cancel'><%= pat(:cancel) %></div>
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </th>
                <th class=header> <%= mat(:fridge, :id) %></th>
                <th class=header> <%= mat(:fridge, :item) %></th>
                <th class=header> <%= mat(:fridge, :barcode) %></th>
                <th class=header> <%= mat(:fridge, :rfid) %></th>
                <th class=header> <%= mat(:fridge, :onhand) %></th>
                <th class="header list-row-action-header"></th>
      </tr>
    </thead>

    <tbody>
      <% @fridges.each do |fridge| %>
        <tr class=list-row>
          <td class="list-column list-selectable">
            <%= check_box_tag 'fridge_ids[]', :value => fridge.id, :class => 'list-selectable-checkbox' %>
           </td>
          <td class=list-column> <%= fridge.id %> </td>
          <td class=list-column> <%= fridge.item %> </td>
          <td class=list-column> <%= fridge.barcode %> </td>
          <td class=list-column> <%= fridge.rfid %> </td>
          <td class=list-column> <% if fridge.onhand %> <span class="fa fa-check"></span> <% end %> </td>
          <td class="list-column list-row-action">
            <div class='list-row-action-wrapper'>
               <%= link_to tag_icon(:edit), :href => url(:fridges, :edit, :id => fridge.id), :rel => :tooltip, :title => "#{pat(:edit)} fridge", :class => 'list-row-action-wrapper-link' %>
               <%= link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} fridge", :class => 'list-row-action-delete-one list-row-action-wrapper-link' %>
               <div class="popover list-row-action-popover-delete-one left">
                 <div class=arrow> </div>
                 <h3 class=popover-title><%= pat(:delete, :model => "fridge") %></h3>
                 <div class=popover-content>
                   <% form_tag url(:fridges, :destroy, :id => fridge.id), :method => :delete do %>
                     <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                     <div class="btn btn-default btn-small cancel"><%= pat(:cancel) %></div>
                   <% end %>
                 </div>
               </div>
             </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
